*
    padding: 0
    margin: 0
    font-family: 'Sora', sans-serif


header
    background-color: #CB5547
    height: 70px
    color: #FFFBFE
    display: block
    position: relative

    .container-fluid
        position: relative

    .logo
        padding: 5px 0 0 20px

        img
            width: 60px

    .up_or_down_week
        padding-top: 17px
        float: left
        font-weight: 300
        position: relative
        display: flex

        span
            color: #67ff00
            text-decoration: underline 6px

        .up, .down
            font-weight: 800


        .button
            margin-left: 10px

        img
            width: 25px

        .item
            margin-top: 8px

    .current_date
        padding-top: 22px
        font-weight: 500
        font-size: 20px
        letter-spacing: 2px


    .login
        .item
            position: absolute
            right: 25px
            top: 15px

.upper_week, .down_week
    .exchange
        display: block
        float: right
        width: 25px

    .hyperlink
        text-decoration: none
        color: #3f9ef5
        font-weight: 800

    .hyperlink1
        margin-right: 10px

    .time
        font-weight: normal

    .number_lesson_span
        font-weight: 800
        color: #ff1903
        font-size: 15px

    .last_info
        position: relative
        display: inline-block
        float: right

        .link
            display: flex
            justify-content: flex-end
            margin-right: 10px

        .last_changes
            font-size: 12px
            color: #989090

            .changed_last_changes
                font-size: 10px


.current_bold_week
    font-weight: 800
    color: #FFFBFE

.current_bold_day
    font-weight: 800
    color: #67ff00
    text-decoration: underline solid 6px


.login_label, .password_label
    color: black
    font-weight: bold

.form-error
    color: red

.space
    background-color: #CB5547
    height: 80px
    width: 100%

.table
    padding: 0
    margin: 0

.update
    .changing_date
        display: flex
        justify-content: center
        color: #FFFBFE
        margin-bottom: 20px
        font-weight: bold
        font-size: 25px

        .day
            margin-right: 10px

        .lesson
            margin-right: 10px

        .week
            margin-right: 10px
            font-weight: bolder
            color: #CB5547

    .last_changes_update
        margin-right: 5px
        display: flex
        justify-content: flex-end
        align-items: center
        font-size: 17px
        font-weight: bolder

        .changed_last_changes
            margin-right: 4px
            font-weight: bold


.chinese_space
    display: flex
    justify-content: center
    align-items: center
    color: #212529
    font-size: 24px
    font-weight: bolder
    position: relative

    .change_phrase
        display: inline-block
        img
            width: 25px
        .btn
            &:hover
                border-color: white
