{% load static %}


<td>
	<div class="first_name">{% if el.first_name %}{{ el.first_name }}{% else %}<br>{% endif %}</div>
	<div class="last_name">{% if el.first_name %}{{ el.last_name }}{% else %}<br>{% endif %}</div>
	<div class="subject">{% if el.first_name %}{{ el.subject }}{% else %}<br>{% endif %}</div>
	{% if el.link %}
		<a class="hyperlink hyperlink1" target="_blank" href="{{ el.link }}">Посилання1</a>
	{% endif %}
	{% if el.link2 %}
		<a class="hyperlink" target="_blank" href="{{ el.link }}">Посилання2</a>
	{% endif %}

	<div class="last_info">
		<div class="last_changes"><span class="changed_last_changes">ЗМІНЕНО: </span>{{ el.last_changes|date:'d.m-H:i' }}
		</div>
		{% if request.user.is_authenticated %}
			<div class="link">
				<a href="{% url 'update' el.day_number el.number_of_lesson %}"><img class="exchange"
				                                                                    src="{% static 'images/exchange.png' %}"
				                                                                    alt="exchange"></a>
			</div>
		{% endif %}
	</div>
</td>
